.no-todos {
    text-align: center;
    font-weight: normal;
    margin-top: 2.5rem;
    color: var(--color-text-light);
    // color: var(--color-text-light);
    opacity: 0.75;
    padding-bottom: 10px;
}